Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.sdf
*.log
*.bak
*.bak.*
*.tmp
*.swp
*.swo
*.vsconfig
Content/__ExternalActors__/
Content/__ExternalObjects__/
ThirdParty/lib
Package/
enc_temp_folder/
_build
*.sln